.n-menu
{
    padding: 10px;
}

.navbar
{
    padding: 10px;
    padding-left: 20px;
    width: 200px;
    background-color: black;
    float:right;
    border-radius:20px;
}
.icons
{
    margin-left: 10px;
    margin-right: 10px;
}