<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

</style>

<!-- <app-board-menu></app-board-menu>
<app-notif-bar></app-notif-bar> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <app-board-menu></app-board-menu>
    </div>
    <div class="col-md-6">
      <app-notif-bar></app-notif-bar>

    </div>
  </div>
</div>

<app-toolbar (itemSelected)="toolSelected($event)"></app-toolbar>
<ng-template appDynamicToolDirective=""></ng-template>

<input id="hiddenImageFileSelector" type="file" accept=".jpg,.png,.jpeg" style="display:none;height: 1px;width: 1px;" (change)="fileSelected($event)">

<router-outlet></router-outlet>
<!--<button mat-button (click)="save()">Save all notes</button>-->